body,a,input,button {
	font-size: 12px;
	color: blue;
	text-decoration: none;
}
a:hover {
	color: red;
}
#tb,#catagory {
	width: 500px;
	text-align: center;
}
.promoted {
	color: red;
}
.more{
	border: 0px solid #ccc;
	height: 30px;
	width: 500px;
	background: #fff;
	text-align: center;
	line-height: 30px;
}
.box{
	/*border-top: 1px solid #ccccff;*/
	height: 20px;
	width: 200px;
	background: #ccf;
	text-align: center;
}
.menu{
	height: 35px;
	margin: 0px;
	padding: 0px;
}
.level1{
	border-left: 1px solid #ccccff;
	border-bottom: 1px solid #ccccff;
	border-right: 1px solid #ccccff;
	line-height: 30px;
	list-style-type: none;
	background: #eeeeff;
}
.level2{
	margin: 0px;
	padding: 0px;
	background: #fff;
	line-height: 20px;
	list-style-type: none;
}
.content {
	width: 500px;
	border: 1px solid #ccf;
	background: #fff;
}
.head {
	width: 500px;
	border: 1px solid #ccf;
	background: #eef;
}